#basic {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
}

.css-dev-only-do-not-override-12jzuas {
    margin-left: 65px;
    margin-bottom: 2px;
}

.ant-checkbox-wrapper {
    margin-left: -85px;
}

.ant-btn {
    width: 277px;
}

label {
    color: #aab3b9 ;
}
.card-container .ant-card{
    background-color: rgba(255, 255, 255, 0.603);
    transform: translate(0, 0);
}